<div class="card">
    <div class="card__header">
        <div class="card__header-name">
            {{ post.name }}
        </div>
        <img src="assets\img\icon.png" alt="Открыть" [routerLink]="['/card']">
    </div>
    
    <div class="card__content">
        <div class="card__content-property">
            <div class="card__content-property-name">
                Тип
            </div>
            <div class="card__content-property-value">
                {{ post.type }}
            </div>
        </div>

        <div class="card__content-property">
            <div class="card__content-property-name">
                Порт
            </div>
            <div class="card__content-property-value">
                {{ post.home_port }}
            </div>
        </div>
    </div>
</div>