<div *ngIf="loading">
    Loading...
</div>
<div *ngFor="let ship of ships" class="card">
    <div class="card__header">
        <div class="card__header-name">
            {{ ship.name }}
        </div>
        <img src="assets\img\icon.png" alt="Открыть" [routerLink]="['/card']">
    </div>
    
    <div class="card__content">
        <div class="card__content-property">
            <div class="card__content-property-name">
                Тип
            </div>
            <div class="card__content-property-value">
                {{ ship.type }}
            </div>
        </div>

        <div class="card__content-property">
            <div class="card__content-property-name">
                Порт
            </div>
            <div class="card__content-property-value">
                {{ ship.home_port }}
            </div>
        </div>
    </div>
</div>