
    <div class="back-link">
        <div class="back-link-header">
            <h2>
            <a routerLink="" ><img src="assets\img\icon.png" alt="Вернуться" width= "16px" height="16px">Вернуться</a>
            </h2>
        </div>
    </div>
    <header >
        <h1>GO Ms Chief</h1>
    </header>

    <div class="fields">
       
        <!-- <div class="content"> -->
            <div>
                <small>Тип</small>
                <small class="title">High Speed Craft</small>
            </div>
            <div>
                <small>Порт</small>
                <small class="title">Port Canaveral</small>
            </div>

            <div>
                <small>Вес</small>
                <small class="title">440892 кг</small>
            </div>
            <div>
                <small>Год</small>
                <small class="title">2015</small>
            </div>
            <div>
                <small>Миссии</small>
                <p class="title">SES-9, CRS-8, Thaicom 8, ABS-2A / Eutelsat 117W B, JCSAT-16, SES-10, BulgariaSat-1, SES-11 / Echostar 105, KoreaSat 5A, Falcon Heavy Test Flight, TESS, Bangabandhu-1, Telstar 19V, Merah Putih, Telstar 18V, Es’hail 2, Nusantara Satu (PSN-6) / S5 / Beresheet, CCtCap Demo Mission 1, ArabSat 6A, CRS-17, Starlink v0.9, STP-2, Starlink 1, JCSat 18 / Kacific 1, Starlink 2, Starlink 3, Starlink 4, Starlink 5</p>
            </div>

        <!-- </div> -->
    </div>

