:host {
    width: 100%;
    //height: 100%;
    display: flex;
    flex-direction: row;

    .content {
        flex: auto;
        background-color: #FAFAFA;
        padding: 52px 64px 162px;
        height: 120vh;

        .header{
            margin-bottom: 64px;
            font-style: normal;
            font-weight: 500;
            font-size: 28px;
            line-height: 32px;
        }
    
        // .card-list {
        // }
    }

    .filter {
        width: 393px;
        min-height: fit-content;
        height: auto;
        background: #FFFFFF;
        border-left: 1px solid #A5A5A5;
    }
}