:host {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;

    .content {
        flex: auto;
        background-color: #FAFAFA;
        padding: 52px 64px 162px;

        .header{
            margin-bottom: 64px;
            font-style: normal;
            font-weight: 500;
            font-size: 28px;
            line-height: 32px;
        }
    
        .card-list {
        }
    }

    .filter {
        // position: absolute;
        // right: 25%;
        // left: 75%;
        // width: 30%;
        // height: 1080px;
        // top: 0;
        width: 393px;
        min-height: fit-content;
        height: 100%;
        background: #FFFFFF;
        border-left: 1px solid #A5A5A5;
    }
}