<div>
    <h2>Фильтры</h2>
</div>

<div class="name-filter">
    <input type="text" placeholder="Название" [(ngModel)]="searchNameString" (input)="nameSearch()">
</div>

<div class="port">Порт</div>
<div class="input-name">
    <input type="text" placeholder="Название" value="Выбраны2">
</div>
<form class="port-filter">

    <input type="checkbox" name="port" value="Port Canaveral" checked> Port Canaveral<br>
    <input type="checkbox" name="port" value="Port of Los Angeles"> Port of Los Angeles<br>
    <input type="checkbox" name="port" value="Fort Lauderdale"> Fort Lauderdale
      
</form>
<div class="dropdown">
    <div class="name-filter">
        <input  type="text" placeholder="Название">
   </div>
   <div class="name-filter">
    <input  type="text" placeholder="Название">
    </div>
    <div class="name-filter">
        <input  type="text" placeholder="Название">
   </div>
   <div class="name-filter">
    <input  type="text" placeholder="Название">
</div>
</div>
<form class="type-filter">
    <div class="name">Тип</div>
    <input type="radio" name="type" value="Barge" checked>Barge<br>
    <input type="radio" name="type" value="Cargo">Cargo<br>
    <input type="radio" name="type" value="High Speed Craft" >High Speed Craft<br>
    <input type="radio" name="type" value="Tug">Tug  
</form>
